<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <mat-card class="card" (click)= "redirect('imageupload')" >
    <mat-card-title>Image Upload</mat-card-title>
    <mat-card-content><mat-icon class="icon">backup</mat-icon></mat-card-content>

  </mat-card>

    <mat-card class="card" (click)= "redirect('webform')">
      <mat-card-title>Webform</mat-card-title>
      <mat-card-content><mat-icon class="icon">assignment</mat-icon></mat-card-content>
    </mat-card>

  <mat-card class="card" (click)= "redirect('stats')">
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-content><mat-icon class="icon">assessment</mat-icon></mat-card-content>
  </mat-card>

</div>
