<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="hello" fxFlex="50%">
  <mat-card-title>Welcome to EasyData+</mat-card-title>
  <mat-card-content class="text">
    <p>The number of people infected with the novel coronavirus is rising, around the globe and in Switzerland. In times like these it’s even more important that doctors and medical personell can concentrate on their most important task: treating their patients. At the same time, the government requires the most recent and relevant data in order to make the right decisions for our country - quickly!</p>

    <p>EasyData+ offers a platform for data entry that minimizes overhead-work for hospitals and accelerates the data collection process. Additionally, EasyData+ provides services for efficient data storage and intelligent analysis. It uses state-of-the-art technology and security concepts, ensuring that highly personal medical data is treated securely and in accordance with data protection laws.</p>

    <p>With EasyData+ we want to support the government and swiss medical personell in overcoming this current and any potential future crisis through easy and efficient data management.</p>

    <p>This application was prototyped during the VersusVirus Hackathon by the ipt+ team.</p>

    <p style="font-size:16pt; font-weight: bold">Please log in to access EasyData+ tools.</p></mat-card-content>
</mat-card>
</div>
