mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-toolbar, mat-toolbar-single-row {
height: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

div.app {
  width: 50%;
  min-width: 800px;
  align: center;
  margin: 20px auto;
  box-shadow: 0 0 10px gray;
  background-color: rgb(240,240,240);
  min-height:800px;
}

div.footer {
  height: 50px;
  background-color: rgb(200,200,200);
}

.footer-toolbar{
width: 320px;
background-color: rgb(200,200,200);
}
